body {
  height: 100vh;
  box-sizing: border-box;
  padding: 0 15%;
  margin: 0;
}

#root {
  text-align: left;
  height: 100%;
  margin-top: 30%;
}

.app-container {
  width: 51%;
  max-width: 500px;
  height: 43%;
}

.display {
  text-align: right;
  color: white;
  padding: 27px;
  background-color: grey;
}

.second-row {
  display: flex;
  height: 100%;
}

.keyboard {
  flex: 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  align-content: stretch;
  gap: 1px;
}

.keyboard div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgrey;
}

.operations {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  gap: 1px;
}

.operations button {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orange;
}

.keyboard button:hover {
  background-color: rgba(211, 211, 211, 0.541);
}

.Zero {
  grid-column: span 2;
}

.operations button:hover {
  background-color: rgba(255, 166, 0, 0.493);
}

.main {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.header {
  -webkit-box-shadow: 5px 10px 9px -3px rgba(0, 0, 0, 0.69);
  box-shadow: 5px 10px 9px -3px rgba(0, 0, 0, 0.69);
  background-color: orange;
  padding: 0 10%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
}

.nav {
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  list-style: none;
}

.Quote {
  font-size: 2rem;
}
